.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: min(calc(100vw - 64px), 400px);
}

.form > p {
  color: var(--midnight-blue);
  text-align: center;
}

.form > * {
  margin: 0.25rem 0;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form hr {
  color: black;
  height: 2px;
  width: 100%;
  margin: 1rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product > span:first-child {
  font-weight: bold;
  color: var(--primary-blue);
}
