.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.dialog > p:first-child {
  margin-bottom: 0.5rem;
  color: var(--midnight-blue);
}

.dialog hr {
  color: black;
  height: 2px;
  width: 100%;
}

.paymentMethod {
  margin-top: auto;
}

.actions {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .dialog {
    min-width: 400px;
    min-height: 400px;
  }
}
