@media (min-width: 1024px) {
  .content > div:first-child {
    width: 50%;
  }
}

.content {
  display: grid;
  gap: 1rem;
}

.transactionList {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
