.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  color: white;
  padding: 0.25rem 1rem;
  text-transform: capitalize;
  min-width: 10rem;
}

.badge span {
  padding-right: 0.5rem;
}
