.button {
  display: flex;
  width: fit-content;
  padding: 0.25rem 1.5rem;
  border-radius: 1rem;
  color: white;
}

.blue {
  background-color: var(--cobalt-blue);
}
.blue:hover,
.blue:focus {
  background-color: var(--ocean-blue);
}

.red {
  background-color: var(--plastic-red);
}
.red:hover,
.red:focus {
  background-color: #af404f;
}
