.switch-wrapper {
    position: relative;
    width:100%;
  }
  
  .switch-wrapper > div {
    position: absolute;
    width:100%;
}


.spinner{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    transform: translateY(-50%);
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .sidebar{
        width: 20vw; 
    }
    
}



.orderCartCard .removeCartItem{
    transition:opacity .3s ease;
}


.orderCartCard:hover .removeCartItem{
    opacity: 1 !important;
}



.shortColumn td {
    padding-top:0 !important;
    padding-bottom: 0 !important;
}

.sortable-chosen {
    background-color: rgba(31, 69, 168,0.2)!important;
    
}

.background-blur{
    /* position: absolute;
    width: 100%;
    left:0;
    height: 100%;
    filter: blur(4px); */
    backdrop-filter: blur(4px);
}