/* 
This file contains styles that are used across the project.
These styles can be referred to directly, as if they were normal css classes
(their names do not get mangled at all).
To extend a global style, compose it in a selector in a css module file like so: 
.localClass {
  composes: globalClass from global;
} 
*/

:global .cardBorder {
  border: 2px solid var(--primary-blue);
  border-radius: 0.25rem;
  padding: 1rem;
  transition: box-shadow 0.3s;
}
:global .cardBorder:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

:global .hoverShadow:hover {
  transition: box-shadow 0.3s;
}
:global .hoverShadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
