*{
    font-family: 'Open Sans';
}

p{
   color:#4A5568;
   line-height: 27px;
   font-size: 1.2em;
   margin: 6px 0px;
}

/* .active-nav{
    border-bottom: 2px solid #4A5568;
} */


a.active{
    border-bottom: 2px solid #4A5568;  
}
a[aria-current="page"]{
    border-bottom: 2px solid #4A5568; 
}

/* override classes */
.title-no-margin {
    margin-bottom: 10px;
}