*{
    font-family: 'Open Sans';
}

p{
   color:#4A5568;
   line-height: 27px;
   font-size: 1.2em;
   margin: 6px 0px;
}

/* .active-nav{
    border-bottom: 2px solid #4A5568;
} */


a.nav.active{
    border-bottom: 2px solid white;  
    opacity: 1 !important;
}
a.nav[aria-current="page"]{
    border-bottom: 2px solid white; 
    opacity: 1;
}

/* override classes */
.title-no-margin {
    margin-bottom: 10px;
}


.button-reset,.input-reset{
    border: none !important;
    box-shadow: none !important;
    outline: none !important
}

.button-reset:focus,.input-reset:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none !important
}


.table-row:hover{
    outline:auto;
    outline-color:#9EB9FF;
    background-color: rgba(31, 69, 168,0.1)!important;
}


.pill {
    border-radius: 35px !important;
    padding: .3rem 1.5rem !important;
    min-width: auto !important;
}

.no-margin{
    margin-bottom: 0 !important;
}

