@media screen and (min-width: 768px) {
  a.nav.active {
    opacity: 1 !important;
    background-color: #18398d;
  }
  a.nav[aria-current="page"] {
    opacity: 1;
    background-color: #18398d;
  }
  a.nav.active span {
    font-weight: 600;
  }
}

/* override classes */
.title-no-margin {
  margin-bottom: 10px;
}

.button-reset,
.input-reset {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.button-reset:focus,
.input-reset:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.table-row:hover {
  outline: auto;
  outline-color: #9eb9ff;
  background-color: rgba(31, 69, 168, 0.1) !important;
  outline-width: thin;
}

.table-row:hover .link-order-no {
  color: #1d2a93;
}

.pill {
  border-radius: 35px !important;
  padding: 0.3rem 1.5rem !important;
  min-width: auto !important;
}

.no-margin {
  margin-bottom: 0 !important;
}
