.root {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  overflow-x: clip;
}

.terms {
  white-space: pre-line;
  /* line-height: 0.8; */
}

.title {
  font-weight: bold;
  text-align: center;
}
