.description {
  white-space: pre-line;
  /* margin-left: 1rem;
  margin-bottom: 1rem; */
  margin: 1rem;
}
.description p {
  color: var(--midnight-blue);
}

.description a {
  font-weight: bold;
  color: var(--primary-blue);
  text-decoration: underline;
}

.descriptionWrapper:hover {
  background: rgba(245, 245, 245, 0.815);
}

.descriptionWrapper:hover .editFocus {
  border: 2px solid #808080c2;
  border-radius: 4px;
}
