.orderProduct {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--gray-ice);
  margin: 0.5rem;
  transition: box-shadow 0.3s;
}

.orderProduct p,
b {
  font-size: 1rem;
}

.deleteProduct {
  position: absolute;
  left: -1rem;
  top: -1rem;
}

.productImage,
.supplierImage {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 200px;
}
.orderProduct img {
  margin: auto;
  width: 128px;
  height: 128px;
}

.product {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  /* needed to have the floating buttons/badges */
  position: relative;
  min-height: 240px;
}

.supplier {
  composes: product;
  background-color: #edecff;
  text-align: center;
  padding-bottom: 1rem;
  cursor: pointer;
  composes: hoverShadow from global;
}

.bestMatch {
  display: flex;
  flex-basis: 100%;
  position: absolute;
  left: -0.5rem;
  top: -0.75rem;
}

.supplierInfo,
.productDetails {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  height: 100%;
}
.money {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.labeledContent {
  display: flex;
  min-width: 240px;
  max-width: 100%;
  text-align: left;
}

.labeledContent p:first-child {
  margin-right: auto;
  color: var(--primary-blue);
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-blue);
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
}

.showMoreSuppliers {
  display: flex;
  flex-grow: 1;
  margin: 0.5rem auto;
  justify-content: center;
  flex-basis: 100%;
}
.moreSuppliers {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  flex-direction: row-reverse;
}
.moreSuppliers > .supplier {
  max-width: 100%;
  margin-bottom: 1rem;
  /* space needed for the 'Choose This Supplier' button */
  padding-bottom: 2.5rem;
}
.moreSuppliers > .supplier .supplierImage {
  margin-top: 0.5rem;
}
.chooseThisSupplier {
  position: absolute;
  bottom: -0.5rem;
}

@media (min-width: 1024px) {
  .supplier,
  .product,
  .moreSuppliers > .supplier {
    align-items: center;
    /* margin-left: auto; */
    max-height: 240px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: calc(50% - 0.5rem);
    flex-basis: 45%;
  }
  .supplierInfo,
  .productDetails {
    align-items: center;
    justify-content: center;
  }
  .labeledContent {
    flex-direction: column;
    min-width: none;
    margin-left: auto;
    min-width: 150px;
  }
  .orderProduct {
    justify-content: space-between;
    align-content: flex-start;
    height: fit-content;
  }
  .moreSuppliers {
    justify-content: space-between;
    width: 100%;
  }
  .moreSuppliers > .supplier {
    flex-grow: 1;
  }
}

@media (min-width: 1700px) {
  .orderProduct {
    max-width: 48%;
  }
}
