.verticalDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem 1rem;
}
.verticalDetailLabel {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

.verticalDetailValue {
  font-size: large;
  font-weight: bold;
  color: var(--primary-blue);
}

.horizontalDetail {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
  max-width: 400px;
}

.horizontalDetailLabel {
  color: var(--slate);
  font-size: small;
  font-weight: bold;
  margin-right: 1rem;
}

.horizontalDetailValue {
  color: var(--midnight-blue);
  font-weight: bold;
}

.fullWidth {
  justify-content: space-between;
  width: 100%;
}

.fullWidth .horizontalDetailValue {
  text-align: right;
}

@media (max-width: 500px) {
  .horizontalDetail {
    justify-content: space-between;
    text-align: right;
    margin: 0.5rem;
  }
}
