.clickableListItem {
  background-color: var(--pale-aqua);
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.clickableListItem:first-child {
  margin-top: 0;
}

.clickableListItem:last-child {
  margin-bottom: 0;
}

.clickableListItem:hover {
  filter: brightness(90%);
  cursor: pointer;
}
