@import "styles/type.css";
@import "styles/dashboard.css";
@import "styles/resources.css";
@import "styles/card.css";
@import "styles/typography.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #fdfffe;
  --darkblue: #244684;
  --medblue: #0a4f92;
  --lightblue: #2271d8;
  --sky: #3af6f8;
  --pale: #b4efef;
  --darkpale: #61c1ba;
  --navy: #072b35;
  --bfblue: #0000ee;
  --bluegrey: #1f5c66;
  /* new color scheme */
  --light-blue: #e2ebff;
  --gray-ice: #f5f7fa;
  --slate: #a4a7b0;
  --pale-aqua: #e7f5f7;
  --medium-grey: #e3e8ed;
  --sky-blue: #c2caff;
  --primary-blue: #18398d;
  --midnight-blue: #192552;
  --cobalt-blue: #4848ff;
  --ocean-blue: #1e18b4;
  --lucky-green: #1bbc5f;
  --plastic-red: #de5164;
  --purple-wash: #ededff;
  /* badge color */
  --draft-blue: #81acf4;
  --lavender: #a595f2;
  --tropical-blue: #56bac8;
  --cool-green: #48cc89;
  --rubber-red: #e65d6c;
}

* {
  font-family: "Open Sans";
}

p {
  color: var(--midnight-blue);
}

hr {
  width: 100%;
  height: 2px;
  background-color: var(--medium-grey);
}

h2 {
  text-align: center;
  font-size: 1.4rem;
}

/* button {
  outline: 3px dotted black;
} */

/* button:focus-visible {
} */
