.order {
}
.orderProduct {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--gray-ice);
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.orderProduct:last-child {
  margin-bottom: 0;
}

.orderProduct img {
  width: 128px;
  height: 128px;
}

.orderProductActions {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.horizontalDetail {
  display: flex;
  align-items: center;
  margin: 0.5rem 2rem;
  flex: 1;
  max-width: 400px;
}

.horizontalDetailLabel {
  color: var(--slate);
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2rem;
}

.horizontalDetailValue {
  color: var(--midnight-blue);
  font-weight: bold;
}

@media (max-width: 500px) {
  .horizontalDetail {
    justify-content: space-between;
    margin: 0.5rem;
  }
}
