.inventoryDetail {
  overflow-y: scroll;
}

/* On large displays we hide the back navigation because it's not needed */
.backNavigation {
  display: none;
}

@media screen and (max-width: 768px) {
  .backNavigation {
    display: flex;
  }
  .minimizedSidebar {
    display: none !important;
  }
}
